genai_cookbook/_build
env
.env
.DS_STORE
.idea
__pycache__

# Exclude `databricks sync` CLI command snapshots
.databricks
agent_app_sample_code/configs/*/*.yaml
agent_app_sample_code/configs/*.yaml
dist/
mlruns/

_scratch_pad/